[submodule "Extension-SillyTavern-Outfits"]
	path = Extension-SillyTavern-Outfits
	url = https://github.com/BrandenStoberReal/Extension-SillyTavern-Outfits.git
	branch = main
[submodule "SillyTavern-ValueTracker-Plugin"]
	path = SillyTavern-ValueTracker-Plugin
	url = https://github.com/BrandenStoberReal/SillyTavern-ValueTracker-Plugin.git
[submodule "Exstension-SillyTavern-Outfits"]
	update = merge
